@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Reddit Sans", sans-serif;
  --blue-collor: #3D79A7;
  --teg-color: #CFDAE7;
  --blue-btn-color: #A7C4E7;
}
.blue {
  color: var(--blue-collor);
}

